.app-container {
  padding: 0 50px;

  @media (max-width: 480px) {
    padding: 0;
  }

  .app-section {
    padding: 30px 20px 0 20px;
  }
}



// @media (min-width: 768px) {
//   @include numberImgPerRow(3);
// }

// @media (min-width: 1024px) {
//   @include numberImgPerRow(5);
// }
