.image-container {
  margin: 10px;
  position: relative;
  transition: transform .1s;

  * {
    outline: none;
  }

  &:hover {
    // transform: scale(1.2);
    z-index: 1;

    .image-info {
      height: 100%;

      &--left {
        align-items: center;
      }

      &--right {
        display: none;
      }

      .image-name {
        text-align: center;
      }

      // transform: scale(1.5);
      .image-rating {
        display: flex;
        justify-content: center;

        .star {
          font-size: 2rem;
        }

        &--ban {
          display: block;
          font-size: 0.8rem;
        }
      }
    }
  }

  .image-item {
    width: 100%;
    border-radius: 10px;
  }

  .image-info {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--left {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex: 1;
    }

    .image-name {
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    .image-rating {
      $color-unset: #d3d3d3;
      $color-selected: red;

      .star {
        position: relative;
        display: inline-block;
        font-size: 1rem;
        color: $color-unset;
      }

      &--ban {
        @extend .star;
        cursor: pointer;
        display: none;
        border: 1px solid;
        border-radius: 20px;
        padding: 5px 10px;
        visibility: hidden;

        &:hover {
          color: $color-selected;
        }
      }

      .half {
        position: absolute;
        display: inline-block;
        overflow: hidden;
        color: $color-selected;
      }

    }
  }
}
